<!DOCTYPE html>
<html>
	<head>
		<title>Ruby on Rails tutorial | <%= @title %> </title>
		<%= csrf_meta_tag%>
		<%= render 'layouts/stylesheets'%> 
	</head>

	<body>
		
			<%= render 'layouts/header'%>

			<section class="round">
			
			<div class= "container">
			

			<%= yield %>
			</div>
			</section>
			<%= render 'layouts/footer'%>
		

	</body>
</html>